/*-----Table of Contents-----*/

// HEADER
// FOOTER
//Variables
$darBlack: #080808;
$black: #2d2d2d;
$darkGrey: #555;
$grey: #999999;
$white: #f2f2f2;
$pink: #ff7878;
body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
     :link {
        text-decoration: none;
    }
}

.fa-circle {
    color: $pink;
}

//HEADER
nav {
    background: $black;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    .navbar {
        color: $grey;
        width: 87%;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 12px;
        p {
            float: left;
            margin: auto;
            a {
                color: $grey;
                font-size: 22px;
                font-weight: 800;
            }
        }
        ul {
            list-style-type: none;
            display: inline-flex;
            line-height: 50px;
            float: right;
            margin: auto;
            a {
                color: $grey;
                font-weight: 800;
                font-size: 14px;
                line-height: 50px;
                padding: 15px;
                font-size: 0.9rem;
            }
            a:hover {
                color: $white;
            }
            a:focus {
                background-color: $pink;
                color: $white;
            }
            a:focus:hover {
                background-color: $darBlack;
            }
        }
    }
}

.cover {
    background-image: url("../../assets/img/header-bg.jpg");
    width: 100%;
    height: 480px;
    display: block;
    .block-text {
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
    h1 {
        text-align: center;
        color: $white;
        margin: 0px;
        font-weight: 300;
        font-size: 4.3em;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.06em;
        b {
            font-weight: 700;
        }
    }
    h2 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 800;
        letter-spacing: 3px;
        margin-top: 10px;
    }
}

//FOOTER